h1{color:#F14444;font-family:Myriad pro; font-size:50px; text-decoration: underline;  }
body {background-color: #33DEEC;}
p{color: black ;}
ol{color: #E34617 ;}
a{color:#175EE3; }
a:hover{color: #0C1DF1; }
a:visited{color: #8410E5}